@import "tailwindcss";

@config "../../tailwind.config.js";

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /* 
  ::-webkit-scrollbar-track {
    background: var(--color-muted);
    border-radius: var(--radius-sm);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-muted-foreground);
    border-radius: var(--radius-sm);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }*/
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
